/* Loading screen styles */
.loading-screen {
    display: flex;
    justify-content: center;
    align-items: center; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 9999;
}

.loading-text {
    color: #fff;
    font-size: 24px;
}

.loading-spinner {
    border: 4px solid rgba(255, 255, 255, 0.3);
    border-top: 4px solid #fff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Hide loading screen when content is loaded */
body.loading {
    overflow: hidden;
}

body.loading .loading-screen {
    display: none;
}

body{
    background-color: lightskyblue;
}

/* Add server div style */
.server-div {
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    z-index: 0;
}

/* Reset some default styles for better consistency */
body {
    margin: 0;
    padding: 0;
}

/* Style the title bar */
.title-bar {
    background-color: #333; /* Background color for the title bar */
    color: #fff; /* Text color */
    padding: 10px 0; /* Padding at the top and bottom */
    display: flex; /* Use flexbox to position elements horizontally */
    justify-content: space-between; /* Space between the elements */
    align-items: center; /* Center items vertically */
}

/* Style the profile picture */
.profile-picture img {
    width: 40px; 
    border-radius: 50%; /* Make the image circular */
    margin-left: 20px; /* Add some spacing from the left edge */
}

/* Style the title text */
.title {
    font-size: 24px; /* Adjust the font size as needed */
    font-weight: bold; /* Make the text bold */
}

/* Style the navigation menu */
nav ul {
    list-style: none; /* Remove bullet points from the list */
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline; /* Display list items horizontally */
    margin-right: 20px; /* Add spacing between list items */
}

nav ul li a {
    text-decoration: none; /* Remove underlines from links */
    color: #fff; /* Text color for links */
    font-weight: bold; /* Make the text bold */
}
